<!DOCTYPE html>
html(lang="en")
  head
    title
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    link(rel="stylesheet" href="css/index.min.css")

  body
    div.container

  script(src="js/all.min.js")
